// Collaborations
section#collaborations.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Collaborations
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.