// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-3.text-lg-left
                | Copyright &copy; iGEM Team Tuebingen 2021
                //- // This script automatically adds the current year to your website footer
                //- // (credit: https://updateyourfooter.com/)
                //- script.
                //-     document.write(new Date().getFullYear());
            .col-lg-3.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/igem_tuebingen/' target="_blank")
                    i.bi.bi-instagram
                a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/iGEMTuebingen' target="_blank")
                    i.bi.bi-twitter
                a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/channel/UCmRd2_h1nMFM1hmcX4AD5Pg' target="_blank")
                    i.bi.bi-youtube
            .col-lg-3.text-lg-center.my-3
                div
                    |Template by
                    a.mr-3(href='https://github.com/blue1stone/igem-tuebingen-website-2021/blob/master/LICENSE' target="_blank").text-dark Start Bootstrap LLC
            .col-lg-3.text-lg-right
                div
                    | Sponsorship-Icons made by 
                    a(href='https://www.flaticon.com/authors/flat-icons' title='Flat Icons').text-dark Flat Icons
                    |  from 
                    a(href='https://www.flaticon.com/' title='Flaticon').text-dark www.flaticon.com
        .row.align-items-center
            .col
                h5 Impressum
                h6 Information according to § 5 TMG
                p
                    |Elias Ball<br>
                    |iGEM Team Tuebingen<br>
                    |Auf der Morgenstelle 28<br>
                    |72076 Tübingen<br>
                h6 Contact
                p
                    |Phone: 01627094764<br>
                    |E-Mail: contact.eliasball@gmail.com<br>
                h6 Consumer dispute resolution/universal arbitration board
                p
                    |We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.
                h6 Source:
                    a(href='https://www.e-recht24.de').text-dark e-recht24.de
