// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-3.text-lg-left
                | Copyright &copy; iGEM Team Tuebingen 2021
                //- // This script automatically adds the current year to your website footer
                //- // (credit: https://updateyourfooter.com/)
                //- script.
                //-     document.write(new Date().getFullYear());
            .col-lg-3.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/igem_tuebingen/' target="_blank")
                    i.bi.bi-instagram
                a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/iGEMTuebingen' target="_blank")
                    i.bi.bi-twitter
                a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/channel/UCmRd2_h1nMFM1hmcX4AD5Pg' target="_blank")
                    i.bi.bi-youtube
            .col-lg-3.text-lg-center.my-3
                div
                    |Template by
                    a.mr-3(href='https://github.com/blue1stone/igem-tuebingen-website-2021/blob/master/LICENSE' target="_blank").text-dark Start Bootstrap LLC
            .col-lg-3.text-lg-right
                div
                    | Sponsorship-Icons made by 
                    a(href='https://www.flaticon.com/authors/flat-icons' title='Flat Icons').text-dark Flat Icons
                    |  from 
                    a(href='https://www.flaticon.com/' title='Flaticon').text-dark www.flaticon.com
