// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-left
                | Copyright &copy; iGEM Team Tuebingen 2021
                //- // This script automatically adds the current year to your website footer
                //- // (credit: https://updateyourfooter.com/)
                //- script.
                //-     document.write(new Date().getFullYear());
            .col-lg-4.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/igem_tuebingen/' target="_blank")
                    i.bi.bi-instagram
                a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/iGEMTuebingen' target="_blank")
                    i.bi.bi-twitter
                a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/channel/UCmRd2_h1nMFM1hmcX4AD5Pg' target="_blank")
                    i.bi.bi-youtube
            .col-lg-4.text-lg-right
                a.mr-3(href='https://github.com/blue1stone/igem-tuebingen-website-2021' target="_blank").text-dark Github
                //- a.mr-3(href='#!').text-dark Privacy Policy
                //- a(href='#!').text-dark Terms of Use