// Gallery
section#gallery.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Gallery
            h3.section-subheading.text-muted Get an insight into our work!
        .row
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-1
                div(class='container_gallery')
                    img.lightense.img-fluid(src='assets/img/gallery/group_fun_2_crop.jpg' class='image_gallery' alt='group fun 1')
                    p.gallery Having fun while doing our photo shoot
            //-.col-md-6.col-sm-6.col-lg-4.col-6.mb-1
                div(class='container_gallery')
                    img.img-fluid(src='assets/img/gallery/group_picture_1_crop.jpg' class='image_gallery' alt='group normal 1')
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-1
                div(class='container_gallery')
                    img.lightense.img-fluid(src='assets/img/gallery/Inga Neckarfront.jpeg' class='image_gallery' alt='Inga Neckarfront')
                    p.gallery Tübingen's beautiful historic city center
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-1
                div(class='container_gallery')
                    img.lightense.img-fluid(src='assets/img/gallery/Julius with Morgenstelle.jpg' class='image_gallery' alt='Julius with Morgenstelle')
                    p.gallery The Morgenstelle, home of the natural sciences in Tübingen
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-1
                div(class='container_gallery')
                    img.lightense.img-fluid(src='assets/img/gallery/Lab-space_empty.jpg' class='image_gallery' alt='lab space empty')
                    p.gallery Where the magic will happen: Our lab space
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-1
                div(class='container_gallery')
                    img.lightense.img-fluid(src='assets/img/gallery/HannahWithFahrradKönig_crop.jpg' class='image_gallery' alt='Hannah Fahrrad')
                    p.gallery If you want to discover Tübingen, you need to go by bike
                
            //- .col
            //-     <div class="slideshow-container">

            //-     <div class="mySlides fade">
            //-         <div class="numbertext">1 / 3</div>
            //-         <img src="assets/img/gallery/group_fun_2_crop.jpg" style="width:100%">
            //-         <div class="text">Caption Text</div>
            //-     </div>

            //-     <div class="mySlides fade">
            //-         <div class="numbertext">2 / 3</div>
            //-         <img src="assets/img/gallery/Inga Neckarfront.jpeg" style="width:100%">
            //-         <div class="text">Caption Two</div>
            //-     </div>

            //-     <div class="mySlides fade">
            //-         <div class="numbertext">3 / 3</div>
            //-         <img src="assets/img/gallery/Julius with Morgenstelle.jpg" style="width:100%">
            //-         <div class="text">Caption Three</div>
            //-     </div>

            //-     <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            //-     <a class="next" onclick="plusSlides(1)">&#10095;</a>

            //-     </div>
            //-     <br>

            //-     <div style="text-align:center">
            //-         <span class="dot" onclick="currentSlide(1)"></span> 
            //-         <span class="dot" onclick="currentSlide(2)"></span> 
            //-         <span class="dot" onclick="currentSlide(3)"></span> 
            //-     </div>

                //-<script>
                //-var slideIndex = 1;
                //-showSlides(slideIndex);

                //-function plusSlides(n) {
                    showSlides(slideIndex += n);
                //-}

                //-function currentSlide(n) {
                    showSlides(slideIndex = n);
                //-}

                //-function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {slideIndex = 1}    
                    if (n < 1) {slideIndex = slides.length}
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                //-}
                //-</script>