// Gallery
section#gallery.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Gallery
            h3.section-subheading.text-muted Get an insight into our work!
        .row
            .col-md-6.col-sm-6.col-lg-4
                img.img-fluid(src='assets/img/gallery/group_fun_2_crop.jpg' class='image_gallery' alt='group fun 1')
            .col-md-6.col-sm-6.col-lg-4
                img.img-fluid(src='assets/img/gallery/group_picture_1_crop.jpg' class='image_gallery' alt='group normal 1')
            .col-md-6.col-sm-6.col-lg-4
                img.img-fluid(src='assets/img/gallery/Inga Neckarfront.jpeg' class='image_gallery' alt='Inga Neckarfront')
            .col-md-6.col-sm-6.col-lg-4
                img.img-fluid(src='assets/img/gallery/Julius with Morgenstelle.jpg' class='image_gallery' alt='Julius with Morgenstelle')
            .col-md-6.col-sm-6.col-lg-4
                img.img-fluid(src='assets/img/gallery/Lab-space_empty.jpg' class='image_gallery' alt='lab space empty')
            .col-md-6.col-sm-6.col-lg-4
                img.img-fluid(src='assets/img/gallery/HannahWithFahrradKönig_crop.jpg' class='image_gallery' alt='Hannah Fahrrad')