// Gallery
section#gallery.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Gallery
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.