// Masthead
header.masthead
    .container
        .masthead-subheading Welcome to
        .masthead-heading.mh-big iGEM TEAM TUEBINGEN 2021
        .masthead-heading.mh-small iGEM TEAM TUE&shy;BINGEN 2021
        //- a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More