// Past Projects
section#past-projects.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Past Projects
            h3.section-subheading.text-muted What team Tübingen has accomplished so far
        .row 
            .col 
                p 2013
            .col 
                p 2014
            .col
                p 2015
            .col
                p 2016
        .row 
            .col 
                p 2017
            .col 
                p 2018
            .col 
                p 2019
            .col
                p 2020
