// Past Projects
section#past-projects.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Past Projects
            h3.section-subheading.text-muted What Team Tübingen has accomplished so far.
        .row 
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2013_02.png' class='image_pastp' alt='testbild')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Design of an easy-to-use <em>yeast based biosensor</em> 
                            |that allows the detection of the water contaminant  
                            |progestin, which is an ingredient in oral contraceptives
                            |pills and is known to have a negative impact on fish.
                            a(href='http://2013.igem.org/Team:Tuebingen' target='_blank') more info                
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2014_01.png' class='image_pastp' alt='testbild_14')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Construction of an enzyme
                            |system that is able to <em>convert blood</em> of
                            |different types to <em>blood type 0.</em> The
                            |three <em>bacterial enzymes modify</em> the
                            |glycoproteins of<em>erythrocytes</em>
                            |responsible for the blood groups.
                            a(href='http://2014.igem.org/Team:Tuebingen' target='_blank') more info
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2015_02.png' class='image_pastp' alt='testbild_15')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Development of a <em>light-inducible expression 
                            |system.</em> Using the dimerization-capabilities of
                            |the fluorescent protein Dronpa, expression can 
                            |be turned on via an influx of light.
                            a(href='http://2015.igem.org/Team:Tuebingen' target='_blank') more info
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2016_01.png' class='image_pastp' alt='testbild_16')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Development of a <em>fructose processing
                            |lactobacillus</em> that can be added into the microbiome
                            |for the <em>treatment of fructose-intolerant people.</em>
                            |Additionally, production of a pipetting-robot with
                            |the ability to perform simple cloning experiments. 
                            a(href='http://2016.igem.org/Team:Tuebingen' target='_blank') more info
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2017_02.png' class='image_pastp' alt='testbild_17')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Design of a <em>novel antibiotic.</em> It only targets
                            |pathogens that have already developed a <em>beta-lactam
                            |resistence.</em> Therefore, it is not going to interfere
                            |with other microorganisms.
                            a(href='http://2017.igem.org/Team:Tuebingen' target='_blank') more info
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2018_02.png' class='image_pastp' alt='testbild_18')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |<em>Detoxification of Botulinum toxins</em> via coupling
                            |to other substances. It is used in therapy and for
                            |specific <em>neuronal targeting.</em> Furthermore, creation
                            | of <em>homology modeling</em> algorithms, <em> molecular dynamics</em>
                            |simulations and a deimmunization workflow.
                            a(href='http://2018.igem.org/Team:Tuebingen' target='_blank') more info
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2019_01.png' class='image_pastp' alt='testbild_19')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Developement of a <em>probiotic</em> for the <em>therapy of
                            |type II Diabetes Mellitus,</em> utilizing a stable GLP-1 analogue
                            |synthesized by modified microbes to inscrease insulin
                            |secretion. Moreover, creation of a <em>data-analysis</em> pipeline
                            |for <em>identifying off-target sites</em> in CRISPR/Cas9-
                            |experiments.
                            a(href='https://2019.igem.org/Team:Tuebingen' target='_blank') more info
            .col-md-6.col-sm-6.col-lg-4.col-6.mb-2
                h4
                div(class='container_pastp')
                    img(src='assets/img/past_projects/past_projects_banner_2020_01.png' class='image_pastp' alt='testbild_20')
                    div(class='overlay_pastp') 
                        div(class='text_pastp_hover')
                            |Construction of a <em>bifuntional biosensor</em> enabling
                            |<em>detection</em> as well as <em>removal of manganese</em> from the
                            |environment using a manganese riboswitch and a 
                            |synthetic phytochelatin. 
                            a(href='https://2020.igem.org/Team:Tuebingen' target='_blank') more info
                        
