// Past Projects
section#past-projects.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Past Projects
            h3.section-subheading.text-muted What Team Tübingen has accomplished so far
        .row 
            .col 
                h4 2013
                p 
                    |Design of an easy-to-use <em>yeast based biosensor</em> 
                    |that allows the detection of the water contaminant  
                    |progestin, which is an ingredient in oral contraceptives
                    |pills and is known to have a negative impact on fish.                
            .col 
                h4 2014
                p 2014 text
            .col
                h4 2015
                p 2015 text
            .col
                h4 2016
                p 2016 text
        .row 
            .col 
                h4 2017
                p 2017 text
            .col 
                h4 2018
                p 2018 text
            .col 
                h4 2019
                p 2019 text
            .col
                h4 2020
                p 2020 text
