// Project
section#project.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Project
            h3.section-subheading.text-muted The project of iGEM team Tuebingen 2021.
        .row 
            .col 
                .text-center
                    h3 Project summary
        .row 
            .col
                p ...
        .row
            .col
                .text-center
                    h3 Experimental schedule
        .row
            .col
                img(src='assets/img/project/project_schedule_1.png' alt='Genome mining' width='600rem')
            .col
                p <br><br>At first, we search plant genomes for sequences of potential novel cyclotides. This <em>genome mining</em> is achieved by looking for sequence patterns similar to those of already known cyclotides.
        .row
            .col
                img(src='assets/img/project/project_schedule_2.png' alt='Construct designing and cloning' width='600rem')
            .col
                p The potential cyclotide sequences are complemented to ensure their correct expression in plants later on in the project. <em>Molecular cloning</em> techniques are then used to finally yield an expression vector. Besides the cyclotide sequence, this vector also contains a green fluorescent protein (GFP) reporter gene, as well as an enzyme needed for cyclotide maturation in plants.
        .row
            .col
                img(src='assets/img/project/project_schedule_3.png' alt='Transformation of agrobacteria' width='600rem')
            .col
                p <br>Next, <em>agrobacteria</em> are transformed with the expression vector. Agrobacteria are plant pathogens and are commonly used in biotechnology to insert DNA vectors into plant cells. 
        .row 
            .col
                img(src='assets/img/project/project_schedule_4.png' alt='Transient expression in tobacco' width='600rem')
            .col
                p To express the potential cyclotides, leafs of <em><i>Nicotiana benthamiana</i></em> (tobacco) plants are infiltrated with the transformed agrobacteria. Agrobacteria are infecting the plant cells with the expression vector, thereby equipping plant cells with the genetic blueprint to express the potential cyclotide peptides. Success of the infiltration can be observed by <em>fluorescence microscopy</em> of the co-expressed GFP.
        .row 
            .col
                img(src='assets/img/project/project_schedule_5.png' alt='Isolation of peptides' width='600rem')
            .col
                p <br><br>The expressed potential cyclotides are <em>isolated</em> from tobacco leafs and used for further characterization experiments.
        .row 
            .col
                img(src='assets/img/project/project_schedule_6.png' alt='Characterization of the peptides' width='600rem')
            .col
                p Finally, to test whether the obtained potentional cyclotides have antibacterial properties, <em>activity tests</em> is performed. This is done with both gram-negative and gram-positive bacteria. Additionally, structure and mode of action of the antibacterial peptides can be elucidated with different methods.