// Project
section#project.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Project
            h3.section-subheading.text-muted The project of iGEM team Tuebingen 2021.
        .row 
            .col 
                .text-center
                    h3 Project summary
        .row
            .col
                p <br>
        .row 
            .col-lg-2.col-md-12 
                h5 The problem
            .col-lg-10.col-md-12
                p <em>Antibiotic resistance</em> poses a major threat to global health. Through the use and misuse of antibiotics, many pathogenic bacteria have evolved a resistance against them. Consequently, today there are many diseases for which no effective antibiotics exist. This leads to increased mortality rates and higher medical costs worldwide.
        .row 
            .col-lg-2.col-md-12
                h5 Our idea
            .col-lg-10.col-md-12 
                p A possible alternative to antibiotics are <em>antimicrobial peptides</em>, short AMPs. These naturally occur in humans, other animals and plants as a part of the innate immune response. AMPs are short proteins, which can act against bacteria, viruses, fungi and even cancer cells. They function by targeting the bacteria’s cell membrane, as well as multiple other targets. Additionally, many AMPs act by stimulating an immune response. Because of this mode of action, resistances against AMPs are less likely to occur than against antibiotics.<br>In our project, we would like to identify and characterize novel antibacterial <em>cyclotides</em> and recombinantly produce them in tobacco plants.
        .row 
            .col-lg-2.com-md-12 
                h5 Cyclotides 
            .col-lg-10.col-md-12 
                p Cyclotides are cyclic peptides with a knotted structure formed by three disulfide bonds. This structure is responsible for their <em>high stability</em> towards heat, chemicals and proteases. The amino acid sequences in between the cyclotide’s cysteine residues are called loops. These are highly variable in sequence and can be modified to specify the bioactivity of the cyclotide.<br>They occur in multiple plant families and are part of the plant’s immune response. As such, cyclotides can act against plant pathogens like nematodes, insects, viruses, or bacteria. Our project focuses on cyclotides showing bioactivity against the latter. Furthermore, some cyclotides are uterotonic and others are dealt as potential anti-HIV or anti-cancer drugs.
        .row
            .col-lg-2.col-md-0
            .col-lg-8.col-md-12
                img.img-fluid(src='assets/img/project/iGEM_cyclotides_dark.png' alt='Cyclotides')
            .col-lg-2.col-md-0
        .row 
            .col 
                p <br>
        .row
            .col
                .text-center
                    h3 Experimental schedule
        .row
            .col-lg-7.col-md-12
                img.img-fluid(src='assets/img/project/project_schedule_1.png' alt='Genome mining')
            .col
                p <br><br>At first, we search plant genomes for sequences of potential novel cyclotides. This <em>genome mining</em> is achieved by looking for sequence patterns similar to those of already known cyclotides.
        .row
            .col-lg-7.col-md-12
                img.img-fluid(src='assets/img/project/project_schedule_2.png' alt='Construct designing and cloning')
            .col
                p The potential cyclotide sequences are then complemented to ensure their correct expression in plants later on in the project. <em>Molecular cloning</em> techniques in <i>Escherichia coli</i> are used to finally yield an expression vector. Besides the cyclotide sequence, this vector also contains a sequence encoding an enzyme needed for cyclotide maturation in plants (AEP).
        .row
            .col-lg-7.col-md-12
                img.img-fluid(src='assets/img/project/project_schedule_3.png' alt='Transformation of agrobacteria')
            .col
                p <br>Next, <em><i>Agrobacterium</i></em> is transformed with the expression vector. Agrobacteria are plant pathogens and are commonly used in biotechnology to insert DNA vectors into plant cells.
        .row 
            .col-lg-7.col-md-12
                img.img-fluid(src='assets/img/project/project_schedule_4.png' alt='Transient expression in tobacco')
            .col
                p To express the potential cyclotides, leafs of <em><i>Nicotiana benthamiana</i></em> (tobacco) plants are infiltrated with the transformed agrobacteria. Agrobacteria are infecting the plant cells with the expression vector, thereby equipping plant cells with the genetic blueprint to express the potential cyclotide peptides. Success of the infiltration can be observed by a co-expressed reporter gene, like green fluorescent protein.
        .row 
            .col-lg-7.col-md-12
                img.img-fluid(src='assets/img/project/project_schedule_5.png' alt='Isolation of peptides')
            .col
                p <br><br>The expressed potential cyclotides are <em>isolated</em> from tobacco leafs and used for further characterization experiments.
        .row 
            .col-lg-7.col-md-12
                img.img-fluid(src='assets/img/project/project_schedule_6.png' alt='Characterization of the peptides')
            .col
                p Finally, to test whether the obtained potentional cyclotides have antibacterial properties, <em>activity tests</em> are performed. This is done with both gram-negative and gram-positive bacteria. We are also collaborating with other iGEM teams to test our obtained cyclotides on different bacterial strains. Additionally, structure and mode of action of the antibacterial peptides can be elucidated with different methods.