// Sponsorship
section#sponsorship.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Sponsor&shy;ship
            h3.section-subheading.text-muted Promote knowledge, cultural exchange, and establish contact with highly motivated young researchers.
        .row
            .col
                p 
                    |The iGEM Team Tübingen is an independent
                    |research group consisting of
                    |highly motivated and dedicated students
                    |from different disciplines, who
                    |independently design, plan and execute
                    |a scientific project. The project
                    |mainly aims to find solutions to current
                    |and future problems with the help of
                    |synthetic biology.
                p 
                    |In addition, the iGEM competition offers
                    |students the opportunity to take
                    |personal responsibility, to pursue their
                    |own ideas and to acquire extensive
                    |knowledge not only in the subject area,
                    |but also in the following fields such as
                    |project organization, implementation,
                    |presentation, financing and public relations.
                p 
                    |Participation in iGEM fosters the development
                    |of multifaceted skills that students
                    |acquire, making them stand out
                    |from the crowd and qualifying them excellently
                    |for the future working life.
            .col-lg-6.col-md-12.d-flex.justify-content-center.align-self-center.mt-2
                .image-bg.wrap-content
                    img.img-fluid(src="assets/img/icons/sponsorship_2.svg" width="250rem")
        .row
            .col.mt-4
                p 
                    |The goal of the international iGEM
                    |competition is not only to solve current
                    |and serious problems using synthetic
                    |biology, but also to facilitate an international
                    |and interdisciplinary exchange
                    |between different students and universities.
                    |This promotes both knowledge
                    |and cultural exchange and enriches our
                    |community. Networking is an essential
                    |part of iGEM, establishing contacts
                    |between young researchers, professors
                    |and companies. Future collaborations
                    |can also benefit from this. In the
                    |past years numerous iGEM projects
                    |could be realized, some of which were
                    |further improved and optimized in the
                    |form of a start-up even after the competition.
                p 
                    |The successful realization of an iGEM
                    |project is only possible through support
                    |in different areas. In order to realize
                    |our vision of a project and to expand
                    |the field of synthetic biology we
                    |need your help. Through financial or
                    |material support of the iGEM team, you
                    |as a company can already establish
                    |contact with highly motivated young researchers.
                    |In addition, we offer you a
                    |representation platform towards the
                    |public on our website, as well as in our
                    |presentations, social networks and
                    |more.
                h4 We would be happy if you contact us!
            .col-lg-6.col-md-12.d-flex.justify-content-center.align-self-center.mt-4
                .image-bg.wrap-content
                    img.img-fluid(src="assets/img/icons/sponsorship_1.svg" width="250rem")
                
    
