// Sponsors
div.py-5.bg-dark
    .container
        .row.align-items-center
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...')
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...')
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...')
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...')