// What is Synbio and What is iGEM
section#synbio-and-igem.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase What is Synbio and what is iGEM?
            h3.section-subheading.text-muted Solving problems using biological systems.
            .row 
                .col 
                    h3 What is Synthetic Biology?
                    p 
                        |Synthetic biology is a field at the cross-section of <em>biology, 
                        |chemics, engineering, and computer science,</em> therefore providing a unique 
                        |opportunity for interdisciplinary collaboration. Its goal is to engineer 
                        |biological systems to solve some of the most urgent problems that 
                        |the world currently faces. It uses engineering principles such as the 
                        |Design, Build, Test, Learn cycle to achieve success in building something useful.
                    h3.mt-5 What is iGEM?
                    p 
                        |iGEM (International Genetically Engineered
                        | Machine) is an annual international
                        | competition which was founded
                        | by the MIT (Massachusetts Institute of
                        | Technology) in Boston, USA in 2003. It
                        | focuses on solving pressing local and
                        | world-wide problems through the application
                        | of synthetic biology. In addition to <em>interdisciplinary collaboration,</em>
                        | the focus also lays on reaching out and
                        | educating the public.
                        | What started as a small competition involving
                        | only a handful of teams has developed
                        | into a world-renowned event,
                        | each year involving <em>hundreds of universities</em>
                        | from countries all over the world.
                        | Since 2003, iGEM has managed to
                        | bring together more than 30.000 young
                        | and ambitious people from more than
                        | 45 countries, contributing to scientific
                        | and intercultural exchange.
                    h3.mt-5 Team Tuebingen
                    p 
                        |For the duration of the competition, the
                        | iGEM team Tuebingen will represent the
                        | University of Tuebingen as well as the
                        | faculty of science, the faculty of medicine,
                        | and the faculty of humanities on
                        | multiple occasions such as public
                        | events, discussion rounds or conferences
                        | on an international level.
                        | The iGEM competition will close with a
                        | congress, the <em>Giant Jamboree.</em> Due to
                        | the ongoing pandemic, it is not yet
                        | clear if the Giant Jamboree is going to
                        | be in person, but it is planned to take
                        | place in Paris.
                        | Team Tuebingen itself participates
                        | <em>since 2011,</em> successfully representing
                        | the University of Tuebingen and has won
                        | several medals over the past years.
            .row
                .col-lg-10(style="margin: auto")
                    img.img-fluid(src="assets/img/igem/cycle.svg" alt="iGEM Cycle")