// What is Synbio and What is iGEM
section#synbio-and-igem.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase What is Synbio and what is iGEM?
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.