// Team
section#team.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Who we are
        .row 
            .col
                p  We are the iGEM-Team Tübingen 2021, a group of 16 students spanning diverse fields from biochemistry, bioinformatics, biology through mathematics, up to rhetoric and media studies. With our diverse and interdisciplinary team, we plan to pursue an interesting and forward-looking research project with local and global relevance. The expertise of our competent subteams and past experiences from former projects combined with great motivation and the support of research groups as well as companies will help us to achieve our goal of a successful project. Thereby, the safety of genetically modified systems and their risk-free use in environmental, agricultural, or clinical applications is of great importance for us. With this year’s project we do not only aim at winning one of the prices at the ‘Giant Jamboree’-conference in October, but also strive to contribute to the progress and development in synthetic biology. 
                   
    
        .row
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/Bastian2.png', alt='...')
                    h4 Dr Bastian Molitor

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/Lucas.jpg', alt='...')
                    h4 Lucas Mühling

        
    
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/mentors/aaron.PNG', alt='...')
                    h4 Aarón Refisch
                   
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/mentors/MicrosoftTeams-image.png', alt='...')
                    h4 Luise Rausch

        .row
                   
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/mentors/f (5).jpg', alt='...')
                    h4 Anirudh Natarajan

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/mentors/f (7).jpg', alt='...')
                    h4 Benedikt Jäger

        
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/mentors/f (4).jpg', alt='...')
                    h4 Andreas Enkelin
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/mentors/f (3).jpeg', alt='...')
                    h4 David Keßler
       
        .row
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/julius.png', alt='...')
                    h4 Julius Dangelmaier

            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/teresa.jpeg', alt='...')
                    h4 Teresa Müller
                    
            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ant.jpeg', alt='...')
                    h4 Antonia Schumacher
                    
            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/erik.png', alt='...')
                    h4  Erik Zimmer


        .row                       
            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/cat.jpg', alt='...')
                    h4 Catia Harnack

            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/elias.jpg', alt='...')
                    h4 Elias Ball

        
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Hannah Van Santvliet

            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ss.png', alt='...')
                    h4 Anastasia Persina

        .row           
            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/inga.png', alt='...')
                    h4 Inga Leske
                    
            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/sound.png', alt='...')
                    h4 Soundaram Veerappan
                                
            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/yy.png', alt='...')
                    h4 Alicia Geier

            .col-lg-3
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/max.jpg', alt='...')
                    h4 Maximilian Pellegrin

        .row
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/ja.jpg', alt='...')
                    h4 Loujean Cobigo

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/toni.png', alt='...')
                    h4 Toni Garcke



            
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/yy.png', alt='...')
                    h4 Kira Zetzmann

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/yy.png', alt='...')
                    h4 Mirjam Höchel

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/yy.png', alt='...')
                    h4 Adrián Vojtassák

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/yy.png', alt='...')
                    h4 Laura Bader


