// Team
section#team.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Who we are
            h3.section-subheading.text-muted The people behind the iGEM team Tuebingen.
        .row 
            .col
                p  We are the iGEM-Team Tübingen 2021, a group of 16 students spanning diverse fields from biochemistry, bioinformatics, biology through mathematics, up to rhetoric and media studies. With our diverse and interdisciplinary team, we plan to pursue an interesting and forward-looking research project with local and global relevance. The expertise of our competent subteams and past experiences from former projects combined with great motivation and the support of research groups as well as companies will help us to achieve our goal of a successful project. Thereby, the safety of genetically modified systems and their risk-free use in environmental, agricultural, or clinical applications is of great importance for us. With this year’s project we do not only aim at winning one of the prices at the ‘Giant Jamboree’-conference in October, but also strive to contribute to the progress and development in synthetic biology. 
                 
            
        .row
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Laura.JPG' alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Laura is part of the <em> team </em>
                            
                    h4 Laura Bader
                    

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/elias.jpg' alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Elias is part of the following <em> subteams: </em> <br>
                            |Wetlab, Drylab, Website, Wiki and Design, Human Practices (Podcast)
                    h4 Elias Ball 

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/ja.jpg' alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Dilara is part of the <em> team </em>
                            
                    h4 Dilara Ceran
                    

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/ja.jpg' alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Loujean is part of the <em> team </em>
                            
                    h4 Loujean Cobigo
                    

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/julius_2.jpg' alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Julius is part of the following <em> subteams: </em> <br>
                            | Wetlab, Website, Wiki and Design, Video
                    h4 Julius Dangelmaier
                   
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/f (4).jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Andreas is <em> mentor </em> to the <em> team </em>
                    h4 Andreas Enkelin

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/toni.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Toni is part of the following <em> subteams: </em> <br>
                            | Wetlab, Finance, Human Practices (Podcast)
                    h4 Toni Garcke

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Alicia.jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Alicia is part of the following <em> subteams: </em> <br>
                            | Wetlab, Wiki and Design, Finance
                    h4 Alicia Geier

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/groß.PNG'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Prof Harald Groß is <em> advisor </em> of the <em> team </em>
                    h4 Prof Harald Groß

            
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/catia.jpg'  alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Catia is part of the following  <em> subteams </em>: <br>
                            |Wetlab, Publics Relations
                    h4 Catia Harnack 

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Mirjam.JPG' alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Mirjam is part of the following  <em> subteams </em>: <br>
                            |Wetlab, Organisation
                    h4 Mirjam Höchel

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/f (7).jpg'  alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Benedikt is <em> mentor </em> to the <em> team </em>
                    h4 Benedikt Jäger
        
            

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/lucas.jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Lucas is <em> mentor </em> to the <em> team </em>
                    h4 Lucas Mühling
                        
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/f (3).jpeg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |David is <em> mentor </em> to the <em> team </em>
                    h4 David Keßler

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/üner.PNG'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Dr Üner Kolukisaoglu is <em> advisor </em> of the <em> team </em>
                    h4 Dr Üner Kolukisaoglu

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Dennis.JPG'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Dennis is part of the <em> team </em> <br>
                            
                    h4 Dennis Köhn

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/inga.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Inga is part of the following <em> subteams: </em> <br>
                            | Wetlab, Finance
                    h4 Inga Leske

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/Bastian2.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Bastian is <em> mentor </em> to the <em> team </em>
                    h4 Dr Bastian Molitor
            
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Teresa.JPG'  alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Teresa is part of the following <em> subteams: </em> <br>
                            | Wetlab, Organisation, Finance
                    h4 Teresa Müller

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/ani.jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Anirudh is <em> mentor </em> to the <em> team </em>
                    h4 Anirudh Natarajan

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/max.jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Maximilian is part of the following <em> subteams: </em> <br>
                            | Wetlab, Drylab, Finance
                    h4 Maximilian Pellegrin

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/anast.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Anastasia is part of the following <em> subteams: </em> <br>
                            | Wetlab, Drylab, Finance, Human Practices (Podcast)
                    h4 Anastasia Persina

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/luise.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Luise is <em> mentor </em> to the <em> team </em>
                    h4 Luise Rausch

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/mentors/aaron.PNG'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Aarón is <em> mentor </em> to the 
                            a(href='https://youtu.be/DLzxrzFCyOs') <em> team </em>
                    h4 Aarón Refisch
                   

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/ant.jpeg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Antonia is part of the following <em> subteams: </em> <br>
                            | Wetlab, Drylab, Human Practices (Podcast)
                    h4 Antonia Schumacher

            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/ich.jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Hannah is part of the following <em> subteams: </em> <br>
                            | Drylab, Website, Wiki and Design
                    h4 Hannah Van Santvliet

           
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/sound.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Soundaram is part of the following <em> subteams: </em> <br>
                            | Wetlab, Drylab, Human Practices (Podcast)
                    h4 Soundaram Veerappan
                    
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Adrián.JPG'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Adrián is part of the following <em> subteams: </em> <br>
                            | Wetlab, Drylab, Video
                    h4 Adrián Vojtassák
            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/Kira.jpg'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Kira is part of the following <em> subteams: </em> <br>
                            | Organisation, Finance, Publics Relations, Human Practices (Podcast)
                    h4 Kira Zetzmann


            .col-md-4.col-sm-6.col-lg-3
                .team-member 
                 
                 h4
                 div(class='container_pastp')
                    img.img-fluid.mx-auto.rounded-circle(src='assets/img/team/erik.png'   alt='...')
                    div(class='overlay_pastp_team') 
                        div(class='text_pastp_hover')
                            |Erik is part of the following <em> subteams: </em> <br>
                            | Wetlab, Website, Wiki and Design, Publics Relations, Human Practices (Podcast)
                    h4 Erik Zimmer
          


