// Team
section#team.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Who are we?
            h3.section-subheading.text-muted Mentors
        .row
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/benedikt_foto-1.jpg', alt='...')
                    h4 Aaron
                   
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                    h4 Larry Parker
                   
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    h4 Diana Petersen

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    h4 Diana Petersen

        .row
            .col-lg-8.mx-auto.text-center
                p.large.text-muted
                    | Lorem ipsum dolor sit a