// Team
section#team.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Who are we?


        .text-center
            h3.section-heading.text-uppercase Instructors and Advisors
        .row
            .col-lg-6
                .team-member
                     img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                     h4 Hannah Van Santvliet

            .col-lg-6
                .team-member
                     img.mx-auto.hexagon(src='assets/img/team/ich.jpg', alt='...')
                     h4 Hannah Van Santvliet

        .text-center             
            h3.section-heading.text-uppercase Mentors
        .row
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/benedikt_foto-1.jpg', alt='...')
                    h4 Aarón Refisch
                   
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                    h4 Luise Rausch
                   
            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    h4 Anirudh Natarajan

            .col-lg-3
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    h4 Benedikt Jäger
        
        .text-center
            h3.section-heading.text-uppercase Team
        .row
            .col-lg-2
                .team-member
                     img.mx-auto.hexagon(src='assets/img/team/ich.jpg', alt='...')
                     h4 Hannah Van Santvliet

            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Teresa Müller
                    
            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Larry Parker
                    
            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Diana Petersen
                                
            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Diana Petersen

            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Diana Petersen

        .row
            .col-lg-2
                .team-member
                     img.mx-auto.hexagon(src='assets/img/team/ich.jpg', alt='...')
                     h4 Hannah Van Santvliet

            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Kay Garland
                    
            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Larry Parker
                    
            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Diana Petersen
                                
            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Diana Petersen

            .col-lg-2
                .team-member 
                    img.mx-auto.rounded-circle(src='assets/img/team/ich.jpg', alt='...')
                    h4 Diana Petersen