// Styling
section#styling.page-section.bg-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Styling
            h3.section-subheading.text-muted A showcase of the different design-elements.
        .row
            .col
                h3 h3 Large Heading
                h4 h4 Medium Heading
            .col
                p
                    | p Paragraph <br>
                    | text with em <em>emphasis</em> <br>
                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut <em>emphasis</em> et dolore magna aliquyam erat, sed diam <em>emphasis</em>. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit <em>emphasis</em>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor <em>emphasis</em> ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                a(href="#") a Link
                div
                    | div This is a div.
            .col
                p ol Ordered List
                ol 
                    li BlaBlaBla
                    li BlaBlaBla
                    li BlaBlaBla
                p ul Unordered List
                ul 
                    li BliBlaBlub
                    li BliBlaBlub
                    li BliBlaBlub
                
            .col(align="center")
                p img Image
                img(src="https://picsum.photos/400/300", alt="Random Image")
                p
                    | card Card
                .card(style="width: 20rem" align="start")
                    img.card-img-top(src='https://picsum.photos/300' alt='...')
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        a.btn.btn-primary(href='#') Go somewhere



