// Global styling for this template
body {
    overflow-x: hidden;
}

// Crisp-er images
.crisp {
    image-rendering:-webkit-optimize-contrast;
}

p {
    line-height: 1.75;
}

.image-bg {
    background-color: #FFFFFF; 
    border-radius: 1rem; 
    padding: 2rem;

    &.wrap-content {
        display: inline-block!important;
        height: fit-content;
    }
}

.page-section {
    padding: 6rem 0;

    h2.section-heading {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: $light;
        color: $light-yellow;
    }

    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: $subheadings-font-family;
        margin-bottom: 4rem;
        color: $light;
    }

    h3 {
        font-family: $headings-font-family;
        color: $light;
    }

    h4 {
        font-family: $headings-font-family;
        color: $light;
    }

    p {
        color: $light;
    }

// ab hier beginnt das past projects setup

    p.past_projects {
        text-align: justify;
    }

    .container_pastp {
        position: relative;
        width: 100%;
    }

    .image_pastp {
        display: block;
        width: 100%;
        height: auto; // height: auto;
    }

    .overlay_pastp {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $dark-blue; // weiß:  #ffffff
    }
    
    .container_pastp:hover .overlay_pastp { 
        opacity: 1;
    }
    

    .text_pastp_hover { 
        color: white;        
        // font-size: 1.5vw; // 20px
        padding: 10px; // neu hinzugefügt
        position: relative; // standard: absolute
        top: 50%; // standard: 50%
        left: 50%; // standard: 50%
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); // standard: -50%, -50%
        text-align: center; // standard: center
    }
    @media screen and (min-width: 771px) {
        .text_pastp_hover {
          font-size: 20px;
        }
      }
    
    @media screen and (max-width: 770px) and (min-width: 551px) {
        .text_pastp_hover {
          font-size: 16px;
        }
      }
    
    @media screen and (max-width: 550px) and (min-width: 501px) {
        .text_pastp_hover {
          font-size: 14px;
        }
      }
    
    @media screen and (max-width: 500px) and (min-width: 401px) {
        .text_pastp_hover {
          font-size: 12px;
        }
      }

    @media screen and (max-width: 400px) {
        .text_pastp_hover {
          font-size: 10px;
        }
      }

// hier endet das past projects setup und beginnt das gallery setup

    .image_gallery {
        display: inline-block;
        padding: 10px 0px; // erster Wert (10px): top/bottom, zweiter Wert: (0px): left/right
        // width: 80rem;
        height: auto; 
}
    .container_gallery {
        position: relative;
        width: 100%;
}
    p.gallery {
        text-align: center;
    }


// hier endet das gallery setup
    li {
        color: $light;
    }

    div {
        color: $light;
    }

    h5.card-title {
        color: $dark-blue;
    }

    p.card-text {
        color: $dark-blue;
    }

    a.btn.btn-primary {
        color: $dark-blue;
        font-family: $headings-font-family;
        text-transform: uppercase;
    }
    
    em {
        color: $fair-blue;
        font-style: normal;
    }
}

@include media-breakpoint-up(md) {
    section {
        padding: 9rem 0;
    }
}

// Highlight color customization

::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
